<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team! </h1>
  <form action= '/team' method="post">
    <label>Team Name:</label>
    <input type="text" id="name" name="name">
    <br><br>
    <label>Coach:</label>
    <input type="text" id="coach" name="coach">
    <br><br>
    <label>Point Guard:</label>
    <input type="text" id="pg" name="pg">
    <br><br>
    <label>Shooting Guard:</label>
    <input type="text" id="sg" name="sg">
    <br><br>
    <label>Small Forward:</label>
    <input type="text" id="sf" name="sf">
    <br><br>
    <label>Power Forward:</label>
    <input type="text" id="pf" name="pf">
    <br><br>
    <label>Center:</label>
    <input type="text" id="c" name="c">
    <br><br>
    <input type ="submit" id="submit" value="Submit">
  </form>
 </body>
</html>


